body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #111;
}

img {
	max-width: 20%;
	max-height: 20%;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

img:hover {
	transform: scale(1.1);
}
